snippet h1 "Heading 1" b
# ${1:Heading}
endsnippet

snippet h2 "Heading 2" b
## ${1:Heading}
endsnippet

snippet link "Link" b
[${1:Link Text}](${2:url})
endsnippet

snippet img "Image" b
![${1:Alt Text}](${2:image_url})
endsnippet

snippet item "Itemized List" b
- ${1:Item}
- ${2:Another Item}
- ${3:Yet Another Item}
endsnippet

snippet code "Code Block" b
\`\`\`${1:language}
${2:Code here}
\`\`\`
endsnippet

