snippet "\\?sim(ple)?"  "Simple barebones LaTeX template" br
\documentclass{article}
\usepackage{graphicx}
\usepackage{amsmath}
\usepackage{amssymb}
\usepackage{braket}
\begin{document}

\title{$1}
\author{Alexander Stapleton}

\maketitle

\end{document}
endsnippet

snippet "\\?b(egin)?" "begin{} / end{}" br
\begin{${1:something}}
	${0:${VISUAL}}
\end{$1}
endsnippet

snippet tab "tabular / array environment" b
\begin{${1:t}${1/(t)$|(a)$|(.*)/(?1:abular)(?2:rray)/}}{${2:c}}
$0${2/(?<=.)(c|l|r)|./(?1: & )/g}
\end{$1${1/(t)$|(a)$|(.*)/(?1:abular)(?2:rray)/}}
endsnippet

pre_expand "create_table(snip)"
snippet "gentbl(\d+)x(\d+)" "Generate table of *width* by *height*" r  
endsnippet

pre_expand "add_row(snip)"
snippet "tr(\d+)" "Add table row of dimension ..." r
endsnippet

snippet table "Table environment" b
\begin{table}[${1:htpb}]
	\centering
	\caption{${2:caption}}
	\label{tab:${3:label}}
	\begin{${4:t}${4/(t)$|(a)$|(.*)/(?1:abular)(?2:rray)/}}{${5:c}}
	$0${5/(?<=.)(c|l|r)|./(?1: & )/g}
	\end{$4${4/(t)$|(a)$|(.*)/(?1:abular)(?2:rray)/}}
\end{table}
endsnippet

snippet "cent(re|er)?" "Center environment" br
\begin{center}
	$0
\end{center}
endsnippet


snippet fig "Figure environment" b
\begin{figure}[${2:htpb}]
	\centering
	\includegraphics[width=${3:0.8}\linewidth]{${4:name.ext}}
	\caption{${4/(\w+)\.\w+/\u$1/}$0}%
	\label{fig:${4/(\w+)\.\w+/$1/}}
\end{figure}
endsnippet

snippet graph "Include graphics command" b
	\includegraphics[width=${1:0.8}\linewidth]{${2:name.ext}}
endsnippet


snippet enum "Enumerate" b
\begin{enumerate}
	\item $0
\end{enumerate}
endsnippet

snippet item "Itemize" b
\begin{itemize}
	\item $0
\end{itemize}
endsnippet

snippet eqlab "Equation Label"
\label{eqn:$1} $0
endsnippet

snippet lab "Label" w
\label{$1} $0
endsnippet

snippet desc "Description" b
\begin{description}
	\item[$1] $0
\end{description}
endsnippet

snippet it "Individual item" b
\item $0
endsnippet

snippet cha "Chapter" b
\chapter{${1:chapter name}}%
\label{cha:${2:${1/\\\w+\{(.*?)\}|\\(.)|(\w+)|([^\w\\]+)/(?4:_:\L$1$2$3\E)/ga}}}

$0
endsnippet

snippet "\\?sec(tion)?"  "Simple section" br
\section{${1:${VISUAL:section name}}}%
\label{sec:${2:${1/\\\w+\{(.*?)\}|\\(.)|(\w+)|([^\w\\]+)/(?4:_:\L$1$2$3\E)/ga}}}

$0
endsnippet

snippet sec* "Section"
\section*{${1:${VISUAL:section name}}}%
\label{sec:${2:${1/\\\w+\{(.*?)\}|\\(.)|(\w+)|([^\w\\]+)/(?4:_:\L$1$2$3\E)/ga}}}

${0}
endsnippet


snippet sub "Subsection"
\subsection{${1:${VISUAL:subsection name}}}%
\label{sub:${2:${1/\\\w+\{(.*?)\}|\\(.)|(\w+)|([^\w\\]+)/(?4:_:\L$1$2$3\E)/ga}}}

$0
endsnippet

snippet sub* "Subsection"
\subsection*{${1:${VISUAL:subsection name}}}%
\label{sub:${2:${1/\\\w+\{(.*?)\}|\\(.)|(\w+)|([^\w\\]+)/(?4:_:\L$1$2$3\E)/ga}}}

${0}
endsnippet

snippet ssub "Subsubsection"
\subsubsection{${1:${VISUAL:subsubsection name}}}%
\label{ssub:${2:${1/\\\w+\{(.*?)\}|\\(.)|(\w+)|([^\w\\]+)/(?4:_:\L$1$2$3\E)/ga}}}

$0
endsnippet

snippet ssub* "Subsubsection"
\subsubsection*{${1:${VISUAL:subsubsection name}}}%
\label{ssub:${2:${1/\\\w+\{(.*?)\}|\\(.)|(\w+)|([^\w\\]+)/(?4:_:\L$1$2$3\E)/ga}}}

${0}
endsnippet

snippet par "Paragraph"
\paragraph{${1:${VISUAL:paragraph name}}}%
\label{par:${2:${1/\\\w+\{(.*?)\}|\\(.)|(\w+)|([^\w\\]+)/(?4:_:\L$1$2$3\E)/ga}}}

$0
endsnippet

snippet subp "Subparagraph"
\subparagraph{${1:${VISUAL:subparagraph name}}}%
\label{par:${2:${1/\\\w+\{(.*?)\}|\\(.)|(\w+)|([^\w\\]+)/(?4:_:\L$1$2$3\E)/ga}}}

$0
endsnippet

snippet frame "Frame: beamer"
\begin{frame}{${1:${VISUAL:frame title}}}%
$0
\end{frame}

endsnippet



snippet ac "Acroynm normal" b
\ac{${1:acronym}}
$0
endsnippet

snippet acl "Acroynm expanded" b
\acl{${1:acronym}}
$0
endsnippet



snippet ni "Non-indented paragraph" b
\noindent
$0
endsnippet

snippet pac "Package" b
\usepackage`!p snip.rv='[' if t[1] else ""`${1:options}`!p snip.rv = ']' if t[1] else ""`{${2:package}}$0
endsnippet

snippet ( "Insert () and Place Cursor Between" i
(${1:${VISUAL:contents}})$0
endsnippet

snippet { "Insert {} and Place Cursor Between" i
{${1:${VISUAL:contents}}}$0
endsnippet

snippet [ "Insert [] and Place Cursor Between" i
[${1:${VISUAL:contents}}]$0
endsnippet

snippet lp "Long parenthesis"
\left(${1:${VISUAL:contents}}\right)$0
endsnippet

snippet tb "Text Boldface"
\textbf{$1}
endsnippet

snippet ti "Text Italic"
\textit{$1}
endsnippet

##############
# MATHSY STUFF #
##############
snippet "\\?sq(rt)?" "Square Root" r
\sqrt{$1}
endsnippet 

snippet "\\?cub(rt)?" "Cube Root" r
\sqrt[3]{$1}
endsnippet 

snippet mb "Maths Boldface"
\mathbf{$1}
endsnippet

snippet mib "(Inline) Maths Boldface"
$\mathbf{$1}$ $0
endsnippet

snippet mi "Maths Italics"
\mathit{$1}
endsnippet

snippet "\\?t(e)?xt" "Subscript text in maths mode" r
\text{$1}
endsnippet

snippet "\\?fr(ac)?" "Fraction" r
\frac{$1}{$2} $0
endsnippet 

snippet eqnn "equation without a number" b
\begin{equation*}
	${0:${visual}}
\end{equation*}
endsnippet

snippet "\\?eq(n)?" "equation with a number" br
\begin{equation}
	${0:${visual}}
\end{equation}
endsnippet

snippet "\\?al(ign)?" "Align" b
\begin{align}
	${0:${VISUAL}}
\end{align}
endsnippet

snippet "\\?al(ign)?n" "Align without a number" br
\begin{align*}
	${0:${VISUAL}}
\end{align*}
endsnippet

snippet "\\?sp(lit)?" "Split environment" i
\begin{split}
	${0:${VISUAL}}
\end{split}
endsnippet

snippet eqa "Equation array" b
\begin{eqnarray}
	${1:${VISUAL}} & ${2:${VISUAL}} & ${0:${VISUAL}}
\end{eqnarray}
endsnippet

snippet eqann "Equation array without a number" b
\begin{eqnarray*}
	${1:${VISUAL}} & ${2:${VISUAL}} & ${0:${VISUAL}}
\end{eqnarray*}
endsnippet

snippet "\\?imp(lies)?" "Implies" r
\implies
endsnippet

snippet mbb "Maths blackboard from 'amssymb' package"
\mathbb{$1} $0
endsnippet

snippet "\\?innt(tegral)?" "Indefinite integral" r
\int $2 \; $1 $0
endsnippet

snippet "\\?int(egral)?" "Definite integral" r
\int_{$1}^{$2} $3 \; \mathrm{d}$4 $0
endsnippet

snippet "inft(egral)?" "Infinite Definite integral" r
\int_{-\infty}^{\infty} d$1 \; $2 $0
endsnippet

snippet "part(ial)?" "Insert partial derivative" r
\frac{\partial $1}{\partial $2} $0
endsnippet

snippet "der(iv)?" "Derivative" r
\frac{d $1}{d $2} $0
endsnippet

snippet "fun(ct)?" "Functional derivative" r
\frac{\delta $1}{\delta $2} $0
endsnippet

snippet sum "Sum"
\sum_{$1}^{$2} $3 $0 
endsnippet

snippet bs "Bold Symbol"
\boldsymbol{$1}
endsnippet

#################
# PHYSICS STUFF #
#################

snippet dv "Derivative" w
\dv[${1:${VISUAL}}]{${2}}{${3}}
endsnippet

snippet pdv "Partial Derivative" w
\pdv[${1:${VISUAL}}]{${2}}{${3}}
endsnippet

snippet SI "SI-Unit" w
\SI{${1:${VISUAL}}}{${2}}
endsnippet

snippet bra "Non-expanding small bra" w
\bra{$1}
endsnippet

snippet ket "Non-expanding small ket" w
\ket{$1}
endsnippet

snippet bket "Non-expanding small inner-product" w
\braket{$1}
endsnippet

snippet Bra "Expanding bra" w
\Bra{$1}
endsnippet

snippet Ket "Expanding ket" w
\Ket{$1}
endsnippet

snippet Bket "Expanding braket" w
\Braket{$1}
endsnippet

snippet del "Partial Operator" i
\partial
endsnippet

snippet dag "Dagger" i
^\dagger
endsnippet

# Coloured blocks
snippet red "Insert a \color{red} inline block" w
{\color{red} $1} 
endsnippet

snippet Red "Insert a \color{red} since line block" w
{\color{red} 
$1
}
endsnippet

snippet pink "Insert a \color{pink} inline block" w
{\color{pink} $1} 
endsnippet

snippet Pink "Insert a \color{pink} in multi-line block" w
{\color{pink} 
$1
}
endsnippet

snippet purple "Insert a \color{purple} inline block" w
{\color{purple} $1} 
endsnippet

snippet Purple "Insert a \color{purple} since line block" w
{\color{purple} 
$1
}
endsnippet

snippet td "To do. Thinking line so sentences are correctly ended in case of distractions" w
{\color{red} TODO: $<$------Complete Line------$>$}
endsnippet
